<div *ngIf="userCreated">
    Your account was successfully created! Try to login with it now.
</div>
<div id="login" class="form-horizontal">
    <fieldset>
        <div id="email" class="form-group">
            <div>
                <label>Email:</label>
                <input type="text" class="form-control" [(ngModel)]="email" placeholder="email">
            </div>
        </div>

        <div id="password" class="form-group">
            <div>
                <label>Password:</label>
                <input type="password" class="form-control" [(ngModel)]="password" placeholder="password">
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="gmail()">Login with gmail</button>
        </div>

        <div class="form-group bottom">
            <div>
                <button type="button" class="btn btn-default" (click)="signIn()">Log in</button>
                Or <button type="button" class="btn btn-default" (click)="signUp()">Sing up</button>
            </div>
        </div>
    </fieldset>
</div>
