<div class="flashcards">
    <div class="panel panel-default flashcard"
         (click)="flip()">
        <div *ngIf="isWord" class="entry">
            <strong>{{word}}</strong>
            <br>
            <span>{{example}}</span>
        </div>
        <div *ngIf="isTranslation" class="entry">
            <strong>{{translation}}</strong>
        </div>
    </div>
    <div id="arrows">
        <i class="fa fa-arrow-circle-o-left fa-3x arrow"
           aria-hidden="true" (click)="previous()"></i>
        <i class="fa fa-arrow-circle-o-right fa-3x arrow"
           aria-hidden="true" (click)="next()"></i>
    </div>
</div>