<div class="learn-container" *ngIf="dictionary">
    <tabs (onTabSelection)="startNewLearning()">
        <tab tabTitle="Flashcards">
            <flash-cards-learn *ngIf="learningInProgress" [dictionary]="dictionary" 
                (learningFinished)="learningFinishedEvent($event)"></flash-cards-learn>
            <repeat-learning *ngIf="!learningInProgress"
                (startNewLearning)="startNewLearning($event)"></repeat-learning>
        </tab>
        <tab tabTitle="Flashcards with writing">
            <flash-cards-writing *ngIf="learningInProgress" [dictionary]="dictionary"
                (learningFinished)="learningFinishedEvent($event)"></flash-cards-writing>
            <repeat-learning *ngIf="!learningInProgress"
                             (startNewLearning)="startNewLearning($event)"></repeat-learning>
        </tab>
        <tab tabTitle="Matcher">
            <matcher-learn *ngIf="learningInProgress" [dictionary]="dictionary"
                             (learningFinished)="learningFinishedEvent($event)"></matcher-learn>
            <repeat-learning *ngIf="!learningInProgress"
                             (startNewLearning)="startNewLearning($event)"></repeat-learning>
        </tab>
        <tab tabTitle="Dictation">
            <dictation-learn *ngIf="learningInProgress" [dictionary]="dictionary"
                                 (learningFinished)="learningFinishedEvent($event)"></dictation-learn>
            <repeat-learning *ngIf="!learningInProgress"
                             (startNewLearning)="startNewLearning($event)"></repeat-learning>
        </tab>
        <tab tabTitle="Clicker">
            <clicker-learn *ngIf="learningInProgress" [dictionary]="dictionary"
                             (learningFinished)="learningFinishedEvent($event)"></clicker-learn>
            <repeat-learning *ngIf="!learningInProgress"
                             (startNewLearning)="startNewLearning($event)"></repeat-learning>
        </tab>
    </tabs>
    <a href="javascript:void(0)" [routerLink]="['/dictionary', dictionary.id]"
        class="btn btn-default">Back to dictionary</a>
</div>