<div class="well well-sm hint">
    <p class="text-primary">drag from left to right</p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <ng-container *ngFor="let entry of dictionaryEntriesLeft">
            <div *ngIf="!entry.disappear" class="panel panel-default"
                 dnd-draggable [dragEnabled]="true"
                 [dragData]="entry">
                <div class="panel-body">
                    <div>{{entry.phrase}}</div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col-md-4">
        <ng-container *ngFor="let entry of dictionaryEntriesRight">
            <div *ngIf="!entry.disappear" dnd-droppable class="panel panel-default"
                 [allowDrop]="isValid(entry)">
                <div class="panel-body">
                    <div>{{entry.translation}}</div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
