<div class="content" *ngIf="dictionary">
    <h3 class="dictionary-name">{{dictionary.name}}</h3>

    <div *ngIf="!extractModeOn">
        <div class="pairs">
            <table>
                <tr><th>phrase</th><th>translation</th><th>example</th></tr>
                <tr *ngFor="let entry of dictionary.entries">
                    <td>
                        <input class="form-control" [(ngModel)]="entry.phrase" placeholder="phrase" />
                    </td>
                    <td>
                        <input class="form-control" [(ngModel)]="entry.translation" placeholder="translation" />
                    </td>
                    <td>
                        <a *ngIf="!entry.addExampleToEntry && !entry.example" href="javascript:void(0)"
                           class="btn btn-info btn-xs" (click)="addExample(entry)">Add example</a>
                        <input *ngIf="entry.addExampleToEntry || entry.example" class="form-control"
                               [(ngModel)]="entry.example"
                               placeholder="example" />
                    </td>
                    <td>
                        <i class="fa fa-minus-circle fa-2x" (click)="removeWord(entry)" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="add-word-button">
                        <i class="fa fa-plus-circle fa-3x" (click)="addWord()" aria-hidden="true"></i>
                    </td>
                </tr>
            </table>
        </div>

        <!--<div id="tags">
            <tag-input [(ngModel)]='dictionary.tags' modelAsStrings="true"
                       (onAdd)="onTagAdd($event)" (onRemove)="onTagRemove($event)"
                       >&lt;!&ndash;(onTextChange)="findTags($event)"&ndash;&gt;
                 &lt;!&ndash;<tag-input-dropdown [autocompleteObservable]="findTags"></tag-input-dropdown>&ndash;&gt;
            </tag-input>
        </div>-->
        <!--<div id="tags">
            <rl-tag-input [(ngModel)]="dictionary.tags" placeholder="Tags"
                          (addTag)="onTagAdd($event)"
                          (removeTag)="onTagRemove($event)"
                          autocomplete="true" autocompleteItems="{{dictionary.tags}}"></rl-tag-input>
        </div>-->

        <div id="tags" class="form-group">
            <div>
                <label>Separate tags by '|'</label>
                <input type="text" class="form-control"
                       [(ngModel)]="tagsStr" placeholder="tags">
            </div>
        </div>

        <div class="buttons">
            <a href="javascript:void(0)" [routerLink]="['learn']" class="btn btn-info">Learn</a>
            <a href="javascript:void(0)" *ngIf="isLoggedIn()" (click)="save()" class="btn btn-success">Save</a>
        </div>
    </div>

    <div *ngIf="extractModeOn">
        <div class="pairs">
            <table>
                <tr><th></th><th>phrase</th><th>translation</th><th>example</th></tr>
                <tr *ngFor="let entry of dictionary.entries">
                    <td *ngIf="extractModeOn">
                        <input type="checkbox" value="" class="extract-checkbox"
                               (change)="onExtractCheckboxClick(entry, $event.target.checked)">
                    </td>
                    <td>
                        {{entry.phrase}}
                    </td>
                    <td>
                        {{entry.translation}}
                    </td>
                    <td>
                        {{entry.example}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <a href="javascript:void(0)" *ngIf="!extractModeOn && isLoggedIn()" (click)="extractMode()"
       id="extract-new-button" class="btn btn-info">Extract new dictionary</a>
    <div *ngIf="extractModeOn" id="submit-new-dict">
        <input id="new-dict-name-input" class="form-control"
               [(ngModel)]="newDictionaryName" placeholder="name" />
        <a href="javascript:void(0)"  (click)="extractNewDictionary()"
           class="btn btn-success">Create</a>
        <a href="javascript:void(0)"  (click)="extractModeOff()"
           class="btn btn-default">Cancel</a>
    </div>

</div>