<div class="content" *ngIf="dictionary">
    <h3 class="dictionary-name">{{dictionary.name}}</h3>
    <div id="usage-link" *ngIf="dictionary.link">
        <a href="{{dictionary.link}}" target="_blank" 
                        class="text-info without-decoration">usage link</a>
    </div>
    <div class="pairs">
        <table>
            <tr *ngFor="let entry of dictionary.entries">
                <td>
                    <input class="form-control " [(ngModel)]="entry.phrase" placeholder="phrase" />
                </td>
                <td>
                    <input class="form-control " [(ngModel)]="entry.translation" placeholder="translation" />
                </td>
                <td>
                    <i class="fa fa-minus-circle fa-2x" (click)="removeWord(entry)" aria-hidden="true"></i>
                </td>
                <td>
                    <a *ngIf="entry.link" href="{{entry.link}}" target="_blank" 
                        class="text-info without-decoration">Usage link</a>
                    <a *ngIf="!entry.link && !entry.attachLinkToEntry" href="javascript:void(0)"
                        class="btn btn-info btn-xs" (click)="attachLink(entry)">Attach Link</a>
                    <input *ngIf="entry.attachLinkToEntry && !entry.link" class="form-control"
                        [(ngModel)]="entry.link" placeholder="link" /> 
                </td>
            </tr>
            <tr>
                <td colspan="4" class="add-word-button">
                    <i class="fa fa-plus-circle fa-3x" (click)="addWord()" aria-hidden="true"></i>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="buttons">
        <a href="javascript:void(0)" [routerLink]="['learn']" class="btn btn-info">Learn</a>
        <a href="javascript:void(0)" (click)="save()" class="btn btn-primary">Save</a>
    </div>
</div>