<div class="content" *ngIf="dictionary">
    <h3 class="dictionary-name">{{dictionary.name}}</h3>
    <div id="usage-link" *ngIf="dictionary.link">
        <a href="{{dictionary.link}}" target="_blank" 
                        class="text-info without-decoration">usage link</a>
    </div>
    <div class="pairs">
        <table>
            <tr><th>phrase</th><th>translation</th><th>example</th></tr>
            <tr *ngFor="let entry of dictionary.entries">
                <td>
                    <input type="checkbox" value="" class="extract-checkbox"
                           (change)="onExtractCheckboxClick(dictionary.id, $event.target.checked)"
                           *ngIf="extractModeOn">
                </td>
                <td>
                    <input class="form-control" [(ngModel)]="entry.phrase" placeholder="phrase" />
                </td>
                <td>
                    <input class="form-control" [(ngModel)]="entry.translation" placeholder="translation" />
                </td>
                <td>
                    <a *ngIf="!entry.addExampleToEntry && !entry.example" href="javascript:void(0)"
                       class="btn btn-info btn-xs" (click)="addExample(entry)">Add example</a>
                    <input *ngIf="entry.addExampleToEntry || entry.example" class="form-control"
                           [(ngModel)]="entry.example"
                           placeholder="example" />
                </td>
                <td>
                    <i class="fa fa-minus-circle fa-2x" (click)="removeWord(entry)" aria-hidden="true"></i>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="add-word-button">
                    <i class="fa fa-plus-circle fa-3x" (click)="addWord()" aria-hidden="true"></i>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="buttons">
        <a href="javascript:void(0)" [routerLink]="['learn']" class="btn btn-info">Learn</a>
        <a href="javascript:void(0)" (click)="save()" class="btn btn-primary">Save</a>
    </div>
    <a href="javascript:void(0)" *ngIf="!extractModeOn" (click)="extractMode()"
       class="btn btn-primary">Extract new dictionary</a>
    <a href="javascript:void(0)" *ngIf="extractModeOn" (click)="extractNewDictionary()"
       class="btn btn-primary">Extract</a>

</div>