div.content {
    margin: 0px auto;
    width: 70%;
}

h3.dictionary-name {
    margin-bottom: 25px;
    text-align: center;
}

div.pairs {
    margin-bottom: 25px;
}

a {
    margin-right: 10px;
}

.pairs > table {
    border-spacing: 20px;
    border-collapse: separate;
    margin: 0px auto;
    width: 100%;
}

td.add-word-button {
    text-align: center;
}

div.buttons {
    text-align: center;
}
