.right-side {
    float: right;
    margin-left: 20px;
}

.dictionary-name {
    font-size: medium;
}

.no-underline {
    text-decoration: none;
}

.learn-checkbox {
    margin-right: 10px;
}

#select-learn-btn {
    margin-right: 10px;
}

#dictionaries-operations {
    margin-top: 35px;
}

.left-btn {
    margin-right: 10px;
}

#new-dict-name-input {
    width: 35%;
    margin-bottom: 15px;
}