<div id="search-input" class="input-group">
  <input type="text" class="form-control"
         [(ngModel)]="searchText" placeholder="Search" (keyup.enter)="search()">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle"
            (click)="searchDropdownToggle()">
      By {{selectedSearchType}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" *ngIf="searchDropdownShow"
        style="display: block">
      <li *ngFor="let searchType of searchTypes">
        <a href="javascript:void(0)"
           (click)="selectSearchType(searchType)">By {{searchType}}</a>
      </li>
    </ul>
  </div>
</div>
<a href="javascript:void(0)" id="back-to-list" class="btn btn-default btn-sm"
   (click)="switchOfSearchMode()" *ngIf="searchMode">Back to list</a>


<div *ngIf="dictionaries !== [] else loading">
  <div *ngFor="let dictionary of dictionaries">
    <div class="panel panel-default">
      <div class="panel-body">
        <input type="checkbox" value="" class="learn-checkbox"
               (change)="onLearnCheckboxClick(dictionary.id, $event.target.checked)"
               *ngIf="selectForLearnMode">
        <input type="checkbox" value="" class="learn-checkbox"
               (change)="onMergeCheckboxClick(dictionary.id, $event.target.checked)"
               *ngIf="selectForMergeMode">
        <input type="checkbox" value="" class="learn-checkbox"
               (change)="onShareCheckboxClick(dictionary.id, $event.target.checked)"
               *ngIf="selectForShareMode">
        <a class="dictionary-name no-underline" href="javascript:void(0)"
           [routerLink]="['/dictionary', dictionary.id]">
          {{dictionary.name}}
        </a>
        <a href="javascript:void(0)" *ngIf="isLoggedIn()"
           (click)="deleteDictionary(dictionary.id)"
           class="right-side no-underline">delete</a>
        <a class="no-underline" href="javascript:void(0)" *ngIf="isLoggedIn()"
           [routerLink]="['/dictionary', dictionary.id, 'edit']"
           class="right-side no-underline">edit</a>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  You haven't created any dictionaries yet.
</ng-template>

<div id="dictionaries-operations">
  <a href="javascript:void(0)" class="btn btn-info"
     (click)="selectForLearn()"
     *ngIf="!selectForLearnMode && !selectForMergeMode && !selectForShareMode" id="select-learn-btn">
    Select for learn
  </a>
  <div *ngIf="selectForLearnMode" id="submit-learn-btn">
    <a href="javascript:void(0)" class="btn btn-success left-btn"
       (click)="learn()">Learn</a>
    <a href="javascript:void(0)" class="btn btn-default"
       (click)="cancelLearnMode()">Cancel</a>
  </div>

  <a href="javascript:void(0)" class="btn btn-info"
     (click)="selectForShare()"
     *ngIf="!selectForLearnMode && !selectForMergeMode && !selectForShareMode && isLoggedIn()" id="select-share-btn">
    Select for share
  </a>
  <div *ngIf="selectForShareMode" id="submit-share-btn">
    <input id="shared-dict-token" class="form-control"
           [(ngModel)]="sharedDictionariesToken" placeholder="token will appear here" />
    <a href="javascript:void(0)" class="btn btn-success left-btn"
       (click)="shareDictionaries()">Share</a>
    <a href="javascript:void(0)" class="btn btn-default"
       (click)="cancelShareMode()">Cancel</a>
  </div>

  <a href="javascript:void(0)" class="btn btn-info"
     (click)="selectForMerge()"
     *ngIf="!selectForMergeMode && !selectForLearnMode && !selectForShareMode && isLoggedIn()" id="select-merge-btn">
    Select for merging
  </a>
  <div *ngIf="selectForMergeMode">
    <input id="new-dict-name-input" class="form-control"
           [(ngModel)]="newDictionaryName" placeholder="name" />
    <a href="javascript:void(0)" class="btn btn-success left-btn"
       (click)="mergeDictionaries()">Merge selected dictionaries</a>
    <a href="javascript:void(0)" class="btn btn-default"
       (click)="cancelMergeMode()">Cancel</a>
  </div>
</div>







