<div id="create-dictionary" class="form-horizontal" *ngIf="dictionary">
    <fieldset>
        <div id="dictionary-name" class="form-group">
            <div>
                <label>Dictionary name</label>
                <input type="text" class="form-control" [(ngModel)]="dictionary.name" placeholder="Dictionary name">
            </div>
        </div>
       
        <div id="languange" class="form-group">            
            <div>
                <label>Language</label>
                <select class="form-control" [(ngModel)]="dictionary.language" placeholder="Language">
                    <option value="en-gb">English</option>
                    <option value="fr-fr">French</option>
                    <option value="de-de">German</option>
                    <option value="es-es">Spanish</option>
                </select>
            </div>
        </div>

        <div id="dictionary-link" class="form-group">
            <div>
                <label>Link</label>
                <input type="text" class="form-control" [(ngModel)]="dictionary.link" placeholder="Link">
            </div>
        </div>

        <word-translation *ngFor="let entry of dictionary.entries"
            [dictionaryEntry]="entry"
            (onRemoveWord)="removeWord($event)">
        </word-translation>
        <div class="form-group">
            <div>
                <a href="javascript:void(0)" (click)="addWord()" class="btn btn-info">Add Phrase</a>
            </div>
        </div>
        
        <div class="form-group bottom">
            <div>
                <button type="button" class="btn btn-default" [routerLink]="['']">Cancel</button>
                <button type="button" id="save" class="btn btn-success" (click)="create()">Save</button>
            </div>
        </div>
    </fieldset>
</div>