<div class="form-group dictionary-entry">
    <div>
        <label>Phrase</label>
        <input type="text" class="form-control" [(ngModel)]="dictionaryEntry.phrase" placeholder="phrase">
    </div>
    <div class="translation">
        <label>Translation</label>
        <input type="text" class="form-control" [(ngModel)]="dictionaryEntry.translation" placeholder="translation">
    </div>
    <div class="add-link" *ngIf="!dictionaryEntry.isLinked">
        <a href="javascript:void(0)" (click)="addLink()" class="text-info without-decoration">Add link</a>
    </div>
    <div class="link" *ngIf="dictionaryEntry.isLinked">
        <label>Link</label>
        <input type="text" class="form-control sm-input" [(ngModel)]="dictionaryEntry.link" placeholder="link">
    </div>
    <i class="fa fa-minus-circle fa-3x" (click)="removeWord()" aria-hidden="true"></i>
</div>
