<div class="form-group dictionary-entry">
    <div>
        <label>Phrase</label>
        <input type="text" class="form-control" [(ngModel)]="dictionaryEntry.phrase" placeholder="phrase">
    </div>
    <div class="translation">
        <label>Translation</label>
        <input type="text" class="form-control" [(ngModel)]="dictionaryEntry.translation" placeholder="translation">
    </div>
    <div class="add-example" *ngIf="!dictionaryEntry.hasExample">
        <a href="javascript:void(0)" (click)="addExample()" class="text-info without-decoration">Add example</a>
    </div>
    <div class="example" *ngIf="dictionaryEntry.hasExample">
        <label>Example</label>
        <input type="text" class="form-control sm-input" [(ngModel)]="dictionaryEntry.example" placeholder="example">
    </div>
    <i class="fa fa-minus-circle fa-3x" (click)="removeWord()" aria-hidden="true"></i>
</div>
